.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px !important;
}
.nav-items
{
  padding: 0px 20px; 
}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    list-style-type:none;
}
.nav-items > ul> li
{
    padding: 10px;
    margin: 10px;

}
.res-container{
    display:flex;
    flex-wrap:wrap;
}
.res-card{
    margin:5px;
    width:200px;
    padding: 5px;
}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-img{
    width:100%;
}
.filter-btn
{
    margin:10px;
    cursor: pointer;
}
.footer
{
    display: flex;
    padding: 10px;
}

.shimmer-container
{
    display:flex;
    flex-wrap: wrap;
}

.shimmer-card
{
    margin:20px;
    width:200px;
    height:150px;
    padding: 5px;
    background-color: #f0f0f0;
}

.btnLogin
{
    margin:5px;
    width:75;
    height:25px;
}

.filter{
    display:flex;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px; /* Adds space between text & image */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional: Separates items */
}

.menu-details {
    display: flex;
    flex-direction: column; /* Stacks name above price */
}

.dish-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; /* Space between name & price */
}

.dish-price {
    font-size: 14px;
    color: #666; /* Lighter color for price */
}

.dish-img {
    width: 60px; /* Adjust size */
    height: auto;
    border-radius: 8px; /* Optional: Adds rounded corners */
}

.restaurant-link {
    text-decoration: none;  /* Removes underline */
    color: inherit;         /* Keeps the default text color */
    display: block;         /* Makes the whole card clickable */
}

.user-data
{
    padding:10px;
    border:solid black 1px;
}